*{
    margin: 0px;
    
}

/*FIRST PAGE STARTS*/
.gym-name{
    font-family: Bruno Ace SC;
    background-color: #1a1a1a;
    width: 300px;
    font-size: 31px;
    padding: 10px;
    margin-left: 10px;
    color: white;
}

.nav-bar{
    
    background-color: #1a1a1a;
    width: 100%;
    display: inline-flex;
}




/*LOGIN POPUP WINDOW STARTS*/
#login-button{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: 8px;
  background-color: #ff9900;
  font-size: 20px;
  width: 70px;
  height: 35px;
  border: none;
  border-radius: 6px;
}


#login{
  margin-top: 23px;
  width: 70px;
  height: 27px;
}


#login-title{
  font-size: 38px;
  margin: 14px;
}

#login-popup-window{
  width: 400px;
  height: 250px;
  padding: 10px;
  position: fixed;
  top: 100px;
  left: 500px;
  text-align: center;
  background-color: #262626;
  border-radius: 24px;
  display: none;
}

#username{
  font-size: 30px;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 5px;
}

#username-input{
  margin-left: 5px;
  margin-bottom: 15px;
  width: 200px;
  height: 20px;
}

#password{
  font-size: 30px;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 5px;
}

#password-input{

  margin-left: 12px;
  margin-bottom: 15px;
  width: 200px;
  height: 20px;
}

#submit{
  background-color: #ff9900;
  width: 80px;
  height: 26px;
  margin: 10px;
}


#close-login-popup{
 float: right;
 margin-right: 0px;
 color: white;
 background-color: #333333;
}


/*LOGIN POPUP WINDOW ENDS*/
/*SIGNUP POPUP WINDOW STARTS*/
#signup-button{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: 8px;
  background-color: #ff9900;
  font-size: 20px;
  width: 70px;
  height: 35px;
  border: none;
  border-radius: 6px;
}


#signup{
  margin-top: 23px;
  width: 70px;
  height: 27px;
}


#signup-title{
  font-size: 38px;
  margin: 14px;
}

#signup-popup-window{
  width: 400px;
  height: 250px;
  padding: 10px;
  position: fixed;
  top: 100px;
  left: 500px;
  text-align: center;
  background-color: #262626;
  border-radius: 24px;
  display: none;
}

#username{
  font-size: 30px;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 5px;
}

#username-input{
  margin-left: 5px;
  margin-bottom: 15px;
  width: 200px;
  height: 20px;
}

#password{
  font-size: 30px;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 5px;
}

#password-input{

  margin-left: 12px;
  margin-bottom: 15px;
  width: 200px;
  height: 20px;
}

#submit{
  background-color: #ff9900;
  width: 80px;
  height: 26px;
  margin: 10px;
}


#close-signup-popup{
 float: right;
 margin-right: 0px;
 color: white;
 background-color: #333333;
}


/*SIGNUP POPUP WINDOW ENDS*/

.nav-bar ul li{ 
    
    display: inline-flex;
}

.nav-bar ul li:hover{
    background-color: #333333;
}

ul li a{
    
    color: #ff9900;
    text-decoration: none;
    padding: 15px;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
 }

 .gymimage{
    position: relative;
 }

 .textimage{
    position: absolute;
    top: 300px;
    left: 250px;
 }

.textimage h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 65px;
    -webkit-text-stroke: 1px black;
 }

/*FIRST PAGE ENDS*/
/*SECOND PAGE STARTS*/


 header{
    font-family: Rubik Mono One;
    margin: 40px;
    font-size: 60px;
    margin-top: 100px;
    text-align: center;
    color: #ff9900;
 }

 .section-row{
    display:flex;
 }

 .section{
    background-color: #ff9900;
    text-align: center;
    width: 33%;
    float: left;
    color: #1a1a1a;
    height: 600px;
    margin: 20px;
    padding: 30px;
    border-radius: 18px;
 }

 .section h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 23px;
    font-weight: bold;
    font-size: 38px;
    color: white;
 }

 .section p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    
    font-size: 30px;
 }

/*SECOND PAGE ENDS*/
/*THIRD PAGE STARTS*/

.input-info{
  display: flex;
  height: 700px;
  margin-top: 160px;
  margin-bottom: 160px;
  background-color: #ff9900;
}

.input-details{
  float: right;
  width: 20%;
  padding: 30px;
  background-color: #333333;
}

#contact-title{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  color: white;
}

#options{
  margin: 10px;
}

#name {
  margin: 10px;
}

#email {
  margin: 10px;
}

#phone {
  margin: 10px;
}

#states{
  margin: 10px;
}

#name-title{
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#email-title{
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#phone-title{
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#states{
  margin: 10px;
}

#submit{
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#submit-button{
  width: 100px;
  height: 30px;
}
/*THIRD PAGE ENDS*/
/*FOOTER SECTION STARTS*/

.footer-menu {
   margin-top: 80px;
   background-color: #1a1a1a;
   height: 200px;
   padding: 30px;
}

 .row-footer {
   display:flex ;
 }


 .row-footer-left {
   width: 25%;
   
 }

 .row-footer-left h3{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   color: white;
   margin: 18px;
 }

 .row-footer-left li{
   list-style-type: none;
 }

 .row-footer-left li a:hover{
   color: white;
 }

 .row-footer-center {
   width: 25%;
 }

 .row-footer-center h3{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   color: white;
   margin: 18px;
 }

 .row-footer-center li{
   list-style-type: none;
 }

 .row-footer-center li a:hover{
   color: white;
 }

 .row-footer-right {
   width: 25%;
 }

 .row-footer-right h3{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   color: white;
   margin: 18px;
 }

 .row-footer-right li{
   list-style-type: none;
 }

 .row-footer-right li a:hover{
   color: white;
 }

.newsletter h3{
  color: #ff9900;
  margin: 18px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.newsletter input{
  width: 170px;
}
 /*FOOTER SECTION ENDS*/